@{
    ViewData["Title"] = "Home Page";
}

@model IndexViewModel

<div class="text-danger m-1 pl-3">
    <h3>@Model.Team</h3>
</div>

@*Contact List*@

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Middle Initial</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model.Bowlers)
            {
                <tr>
                    <td>@x.BowlerFirstName</td>
                    <td>@x.BowlerMiddleInit</td>
                    <td>@x.BowlerLastName</td>
                    <td>@x.BowlerAddress</td>
                    <td>@x.BowlerCity</td>
                    <td>@x.BowlerState</td>
                    <td>@x.BowlerZip</td>
                    <td>@x.BowlerPhoneNumber</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div page-info="@Model.PageNumberingInfo" page-url-team="@Model.Team"
     page-classes-enabled="true"
     page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"
     class="btn-group m-1">
</div>
